$jumbotron-bg: #d0d9dfc0;
$jumbotron-color: #000000; 

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*body{
    background-image: url(../img/images.jpg);
    background-size: cover;
}*/

#Info{
    display: flex;
    align-items: center;
}

#Icon{
    text-align: center;
    font-size: 50px;
    height: 25px;
}

body{
    background: url(../Imagenes/backgroundP.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.jumbotron{
    box-shadow: 10px 10px 10px black;
    margin-top: 30px;
    transition: background 0.8s linear 0.2s;
}

.carousel-inner img{
    height: 205px;
}

.navbar-brand img{
    height: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.8s linear 0.2s;
}

nav .navbar:hover{
    background: rgb(158, 145, 145);
}

.jumbotron:hover{
    background: #7e9bafc0;
}

.navbar .navbar-expand-lg .navbar-light .bg-dark:hover{
    background: rgb(202, 104, 104);
}

.navbar .navbar-expand-lg .navbar-light .bg-dark{
    transition: background 0.8s linear 0.2s;
}
